<h1>LOGIN</h1>
<form action="/auth/login" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button onclick="/api/products">Send</button>
</form>


<a href="/auth/register">I don't have an account</a>


<a href='/api/sessions/github' class='github-button'>
    <img src='https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png' alt='GitHub Logo'
        class='github-logo' />
    Login with GitHub</a>